*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.auth-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            135deg,
            #0f172a,
            #1e3a8a
        );

    padding: 20px;
}

.auth-card{
    width: 100%;
    max-width: 1100px;
    height: 700px;

    background: white;

    border-radius: 30px;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow:
        0 20px 60px rgba(0,0,0,0.4);
}

.auth-left{
    background:
        linear-gradient(
            135deg,
            #2563eb,
            #4338ca
        );

    color: white;

    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-left h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.auth-left p{
    font-size: 18px;
    line-height: 1.8;
}

.auth-right{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.form-box{
    width: 100%;
    max-width: 400px;
}

.form-box h2{
    font-size: 42px;
    margin-bottom: 30px;
    color: #0f172a;
}

.form-box form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-box input{
    padding: 18px;

    border-radius: 15px;

    border: 1px solid #cbd5e1;

    font-size: 16px;
}

.form-box input:focus{
    outline: none;

    border-color: #2563eb;
}

.form-box button{
    padding: 18px;

    border: none;

    border-radius: 15px;

    background:
        linear-gradient(
            135deg,
            #2563eb,
            #4338ca
        );

    color: white;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.form-box button:hover{
    transform: translateY(-2px);
}

.form-box p{
    margin-top: 25px;
    text-align: center;
    color: #64748b;
}

.form-box span{
    margin-left: 5px;

    color: #2563eb;

    font-weight: bold;

    cursor: pointer;
}

.form-box span:hover{
    text-decoration: underline;
}

@media(max-width: 900px){
    .auth-card{
        grid-template-columns: 1fr;
        height: auto;
    }
    .auth-left{
        display: none;
    }
    .auth-right{
        padding: 50px 30px;
    }
}